.logon-container{
    width:100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logon-container .nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background: rgb(109, 68, 68);
    height: 110px;
}

.logon-container .nav-header img {
    cursor: pointer;
}

.logon-container .nav-header ul {
    list-style: none;
}

.logon-container .nav-header li {
    display: inline-block;
    padding: 0 20px;
}

.logon-container .nav-header li a {
    transition: all 0.3s ease 0s;
}
  
.logon-container .nav-header li a:hover {
    color: #C9A261;
    transition: all 0.3s ease 0s;
}

.logon-container section.form{
    width: 100%;
    max-width: 350px;
    margin-right: 30px;
}

.logon-container section.form form{
    margin-top: 100px;
}

.logon-container section.form form h1 {
    font-size: 32px;
    margin-bottom: 32px;
}

.logon-container section.form form a{
    display: flex;
    align-items: center;
    margin-top: 40px;
    color:#41414d;
    font-size:18px;
    text-decoration: none;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;
}

.logon-container section.form form a:hover{
    opacity:0.8;
}

.logon-container section.form form a svg{
    margin-right:8px;
}